{% extends 'base1.html.twig' %}


{% block body %}
<div class="container">
   <a class="" href="{{ path('home') }}"> <img src="uploads/m1.jpeg" class="img-fluid" alt="Responsive image"></a>
</div>
<div class="container">
    <a class="" href="{{ path('home') }}"><img src="uploads/m2.jpeg" class="img-fluid" alt="Responsive image"></a>
</div>

{% endblock %}
