{% extends 'base.html.twig' %}

{% block title %}Edit Characteristics{% endblock %}

{% block body %}
    <h1>Edit Characteristics</h1>

    {{ include('characteristics/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-lg btn-primary" href="{{ path('characteristics_index') }}">back to list</a>

    {{ include('characteristics/_delete_form.html.twig') }}
{% endblock %}
